.screen .main .missions {
  padding: 16px;
  overflow-y: scroll;
}
.track-horizontal {
  background: #bcc1cb;
  border-radius: 4px;
  width: 100%;
  left: 0px;
  bottom: 0px;
}
.track-horizontal {
  background: #bcc1cb;
  border-radius: 4px;
  width: 100%;
  left: 0px;
  bottom: 0px;
}
